<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [37]:
# Code ditulis disini
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

## Soal 2: Variable

- Deklarasikan variabel **x** dan berikan nilai **5**.
- Deklarasikan variabel **y** dan berikan nilai **"Hello, World!"**.
- Deklarasikan variabel **z** dan berikan nilai dari penjumlahan **x** dan **x**.
- Cetak nilai **x**, **y**, dan **z** menggunakan **fungsi print**.
- Ubah nilai **x** menjadi **10** dan berikan nilai **z** dengan penjumlahan **x** dan **x**.
- Cetak nilai baru **x** dan **z** menggunakan **fungsi print**.
- Deklarasikan variabel **a** dan berikan nilai dari penggabungan **y** dan **y**.
- Cetak nilai **a**.

In [38]:
# Code ditulis disini
x = 5
y = "Hello, World!"
z = x + x
print(x)
print(y)
print(z)
x = 10
z = x + x
print(x)
print(z)
a = y + y
print(a)

5
Hello, World!
10
10
20
Hello, World!Hello, World!

Expected Output:

5 <br>
Hello, World! <br>
10 <br>
10 <br>
20 <br>
Hello, World!Hello, World!

<h2>Soal 3: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [39]:
# Code ditulis disini
angka1 = 10
angka2 = 20
print(angka1 + angka2)
print(angka1 - angka2)
print(angka1 * angka2)
print(angka1 / angka2)

30
-10
200
0.5

## Soal 4: Assignment Operator

- Buat sebuah variabel yang disebut x dan berikan nilai 7.
- Buat sebuah variabel yang disebut y dan berikan nilai dari x dikalikan dengan 3.
- Buat sebuah variabel yang disebut z dan berikan nilai dari y ditambah 2.
- Cetak nilai x, y, dan z.
- Berikan nilai baru untuk x dengan menambahkan 2 ke nilai sebelumnya dari x.
- Berikan nilai baru untuk y dengan mengalikan nilai baru dari x dengan 3.
- Berikan nilai baru untuk z dengan menambahkan 2 ke nilai baru dari y.
- Cetak nilai baru dari x, y, dan z.
- Buat sebuah variabel yang disebut a dan berikan nilai "Python itu menyenangkan!".
- Berikan nilai baru untuk a dengan menggabungkan nilai " Dan mudah dipelajari." ke nilai sebelumnya dari a.
- Cetak nilai baru dari a.

In [40]:
# Code ditulis disini
x = 7
y = x * 3
z = y + 2
print(x)
print(y)
print(z)
x += 2
y = x * 3
z = y + 2
print(x)
print(y)
print(z)
a = "Python itu menyenangkan!"
a += "Dan Mudah Dipelajari!"
print(a)

7
21
23
9
27
29
Python itu menyenangkan!Dan Mudah Dipelajari!

Expected Output: <br>
7 <br>
21 <br>
23 <br>
9 <br>
27 <br>
29 <br>
Python is fun! And it's easy to learn.

## Soal 5: Comparison Operator

- Buat sebuah variabel yang disebut x dan berikan nilai 5.
- Buat sebuah variabel yang disebut y dan berikan nilai 7.
- Gunakan operator == untuk memeriksa apakah x sama dengan y.
- Gunakan operator != untuk memeriksa apakah x tidak sama dengan y.
- Gunakan operator > untuk memeriksa apakah x lebih besar dari y.
- Gunakan operator < untuk memeriksa apakah x lebih kecil dari y.
- Gunakan operator >= untuk memeriksa apakah x lebih besar atau sama dengan y.
- Gunakan operator <= untuk memeriksa apakah x lebih kecil atau sama dengan y.

In [41]:
# Code ditulis disini
x = 5
y = 7
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

Expected Output: <br>
False <br>
True <br>
False <br>
True <br>
False <br>
True <br>

## Soal 6: Logic Operator

- Buat sebuah variabel yang disebut x dan berikan nilai 5.
- Buat sebuah variabel yang disebut y dan berikan nilai 7.
- Gunakan operator **and** untuk memeriksa apakah x lebih besar dari 3 dan y lebih kecil dari 10. 
- Gunakan operator **or** untuk memeriksa apakah x sama dengan 3 atau y sama dengan 10. 
- Gunakan operator **not** untuk memeriksa apakah x tidak sama dengan 5.

In [42]:
# Code ditulis disini
x = 5
y = 7
print(x > 3 and y < 10)
print(x == 3 or y == 10)
print(not(x != 5))

True
False
True

Expected Output: <br>
True <br>
False <br>
True <br>

<h2>Soal 7: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello, saya firstname lastname.'

In [43]:
# Code ditulis disini
firstName = "Fakhri"
lastName = "Alauddin"
print("Hello, Saya %s %s." % (firstName, lastName))

Hello, Saya Fakhri Alauddin.

Expected Output :

Hello, saya John Doe.

<h2>Soal 8: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [44]:
# Code ditulis disini
p = 9.99999
q = 'the number:'
print(q, p)

the number: 9.99999

Expected Output :

the number: 9.99999

## soal 9: Tipe Data

- Buat sebuah variabel yang disebut x dan berikan nilai 5.
- Cetak tipe data dari x menggunakan fungsi type().
- Buat sebuah variabel yang disebut y dan berikan nilai "Selamat datang!".
- Cetak tipe data dari y menggunakan fungsi type().
- Buat sebuah variabel yang disebut b dan berikan nilai True.
- Cetak tipe data dari b menggunakan fungsi type().

In [45]:
# Code ditulis disini
x = 5
print(type(x))
y = "Selamat Datang!"
print(type(y))
b = True
print(type(b))

<class 'int'>
<class 'str'>
<class 'bool'>

Expected Output: <br>
<class 'int'> <br>
<class 'str'> <br>
<class 'bool'> <br>

<h2>Quiz 1: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [46]:
# Code ditulis disini
a = 21
b = 5
toInt = int(a / b)
toFloat = float(a / b)
print(toInt)
print(toFloat)

4
4.2